# Ciclos en Python

Hasta el momento nosotros corriamos los bloques de codigo una y otra vez si queriamos repetir esa operacion, afortunadamente en programacion existe la definicion de ciclos o loops, lo que nos permitira ejecutar una accion una y otra vez de manera automatica.

Para ello es que se utilizan las sentencias **`for`** y **`while`**

In [8]:
# de manera convencional, HASTA AHORA

a = 10
print(a)

a = a + a 
print(a)

a = a + a 
print(a)

a = a + a 
print(a)

a = a + a 
print(a)

10
20
40
80
160

In [6]:
# COMO DEBE SER
a = 10
for i in range(5):
    print(a)
    a = a + a

10
20
40
80
160

Empecemos viendo los ciclos for.

************

*************

# Ciclos FOR

Un ciclo <code>for</code> actua como un iterador en Python; va a recorrer elemento por elemento a aquellos objetos que esten en una secuencia o en que permitan la iteracion.

Dentro de los objetos que conocemos podemos iterar sobre strings, listas, tuplas e incluso diccionarios.


Aqui la sintaxis convencional de un ciclo <code>for</code> en Python:

    for item in objeto:
        acciones a realizar

Las palabras `for` e `in` son por defecto

El nombre de la variable usada para determinar el `item` es elegida por el programador, por lo que lo ideal es usar un nombre que haga sentido sobre lo que esta haciendo referencia esa variable.

Esta variable puede ser referenciada dentro del bloque del ciclo for para poder hacer operaciones, comparaciones, etc.

El `objeto` es aquel sobre el cual vamos a realizar las iteraciones, sobre el cual vamos a recorrer los elementos.

###  Ejemplo 1
Iteremos sobre listas

In [9]:
lista1 = [1,2,3,4,5,6,7,8,9,10]

In [10]:
for num in lista1:
    print(num)

1
2
3
4
5
6
7
8
9
10

### Ejemplo 2
Imprimamos solamente los numeros pares de la lista

In [12]:
for num in lista1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

Podemos usar la sentencia <code>else</code>:

In [13]:
for num in lista1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

### Ejemplo 3

Otra aplicacion de los ciclos <code>for</code> es la de llevar registro de algun tipo de acumulador en cada iteracion, por ejemplo, supongamos que queremos sumar todos los elementos de la lista.

In [9]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

### Ejemplo 4

Hasta ahora usamos los ciclos <code>for</code> con listas, ahora veamos con strings.

Acuerdense que los strings son una **secuencia de caracteres** de modo que cuando iteremos sobre ellos cada `item` va a ser un caracter del string.

In [1]:
for letra in 'Esto es un string.':
    print(letra)

E
s
t
o

e
s

u
n

s
t
r
i
n
g
.

### Ejemplo 5
Tambien podemos usar el ciclo <code>for</code> sobre una tupla.

In [12]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

### Ejemplo 6

Las tuplas tienen una cualidad especial, esto es que permiten una operacion conocida como "desenpaquetado" (unpacking), en donde podemos asignar los distintos elementos de la tupla a distintas variables.

Si estamos iterando sobre una secuencia que contiene tuplas, cada item va a ser una tupla, pero mediante el unpacking vamos a poder obtener cada elemento de la tupla.

In [2]:
tupla = (12,15)
var_1,var_2 = tupla
print(var_1)
print(var_2)

12
15

In [3]:
list2 = [(2,4),(6,8),(10,12)]

In [4]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [5]:
# Ahora con unpacking
for (t1,t2) in list2:
    print(t1)

2
6
10

In [6]:
# Ahora con unpacking
for (t1,t2) in list2:
    print(t1 + t2)

6
14
22

Este tema es importante porque hay varios objetos que nos van a suministrar sus elementos a traves de iterables con tuplas dentro, un ejemplo claro de esto son los diccionarios.

### Ejemplo 7

Exploremos los diccionarios

In [8]:
d = {'k1':1,'k2':2,'k3':3}

In [17]:
for item in d:
    print(item)

k1
k2
k3

Veamos que iterando asi sobre el diccionario solo obtenemos las claves, pero como conseguimos los valores? O los pares clave:valor ?

Recuerdan los metodos del diccionario: **.keys()**, **.values()** and **.items()**

En Python cada uno de estos metodos nos devuelve un objeto *dictionary view object*, el cual soporta operaciones como iteracion.

Veamos a lo que nos referimos

In [9]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [19]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

Este objeto devuelto por el metodo no nos es familiar, por lo que podemos transformarlo en una lista y aplicar las operaciones y metodos que ya conocemos.

In [12]:
list(d.keys())

['k1', 'k2', 'k3']

Recuerden que los diccionarios no estan ordenados, las claves y valores vienen en un orden arbitrario.

Sin embargo, podemos obtener una lista ordenada usando la funcion `sorted()`

In [15]:
sorted(d.values())

[1, 2, 3]

## For + range

Es una de las formas mas comunes de usar el ciclo `for`, pudiendo determinar exactamente cuantas veces queremos que se realice una tarea (que se ejecute un bloque de codigo).

Para esto primero debemos introducir a la funcion `range()`

La funcion `range()` nos permite generar de manera rapida una lista de enteros, esto es muy util, asique **presten atencion a como se usa**.

La funcion permite el paso de tres paramentros, `start`, `stop` y `step` (los mismos parametros que vimos para el slicing)

In [16]:
range(0,11)

range(0, 11)

Veamos que la funcion `range()` por si sola nos devuelve un generador, que adivinen, es otro objeto de Python.

Un generador es un tipo especial de funcion que va a ir generando informacion cuando se la solicite, sin guardarla en la memoria.
**Lo importante** de esto es que nosotros podemos convertirlo en una lista, para obtener los valores que genera.

In [18]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Y ahora la posta: for + range
Esta combinacion es indispensable para hacer un ciclo que se repita una **cantidad de veces definida**, veamos de que estamos hablando.

In [25]:
# supongamos que queremos imprimir la palabra "hola" solo 5 veces

len(list(range(5)))

for rep in range(5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [27]:
for rep in range(5):
    print("Hola", rep)

Hola 0
Hola 1
Hola 2
Hola 3
Hola 4

## Recorriendo una secuencia, ATENCION A ESTE TEMA !!

Ya vimos como recorrer una lista elemento a elemento y como funciona la funcion `range()`, dependiendo del problema vamos a tener que usar una aproximacion u otra a la hora de recorrer una lista.

Es de suma importancia poder diferenciar en cada caso que sucede y que enfoque debemos optar para resolver el problema.

Veamos a que nos referimos con este enfoque.

In [10]:
 # supongamos que tenemos la lista de numeros
    
lista = [20,11,15,12,13,15,20,50]

In [29]:
# recorrer la lista e imprimir aquellos numero que sean pares

for num in lista:
    if num%2==0:
        print(num)

20
12
20
50

In [30]:
# recorrer la lista e imprimir aquellos numero que TENGAN UN INDICE PAR, es decir, que ocupen una posicion
# par, independientemente de su valor.

list(range(len(lista)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [31]:
for i in range(len(lista)):
    if i%2==0:
        print(lista[i])

20
15
13
20

In [ ]:
# Este segundo caso es de suma utilidad cuando querramos hacer una reasignacion de ciertos elementos de una lista
# Supongamos que queremos dada la lista, queremos reemplazar a todos los multiplos de 5 por el numero 99

In [11]:
for i in range(len(lista)):
    if lista[i]%5==0:
        lista[i] = 99
        
lista

[99, 11, 99, 12, 13, 99, 99, 99]

### Ciclos for anidados

En ocasiones queremos recorrer elementos que se encuentran dentro de elementos (listas dentro de listas por ejemplo), para ello necesitamos de un ciclo dentro de otro.

Veamos a que nos referimos:

In [2]:
# supongamos la siguiente lista de listas
matriz = [[10,222,3],[4,59,6],[70,809,999]]

# queremos recorrer todos los elementos de la matriz e imprimir aquellos numeros pares

In [3]:
for elem in matriz:
    print(elem)

[10, 222, 3]
[4, 59, 6]
[70, 809, 999]

In [4]:
for elem in matriz:
    for inner_elem in elem:
        print(inner_elem)

10
222
3
4
59
6
70
809
999

In [5]:
for elem in matriz:
    for inner_elem in elem:
        if inner_elem%2 == 0:
            print(inner_elem)

10
222
4
6
70

In [12]:
# lo mismo podemos hacer utilizando los indices,
# dependiendo el nivel ver si dar este tema o no

In [ ]:
for i in range(len(matriz)):
    print(matriz[i])

In [ ]:
for i in range(len(matriz)):
    for j in range(len(matriz[i])):
        print(matriz[i][j])

In [ ]:
for i in range(len(matriz)):
    for j in range(len(matriz[i])):
        if matriz[i][j]%2 == 0:
            print(matriz[i][j])

# MANOS A LA OBRA

1- Dado el string `'Buenas tardes Sr. Gonzales'` imprimir la cantidad de veces que se repite la letra 's' (mayuscula y minuscula)

In [35]:
string = 'Buenas tardes Sr. Gonzales'
cont = 0
for letra in string:
    if letra.lower()=='s':
        cont +=1
print("La cantidad es {}".format(cont))

La cantidad es 4

2- Dado el string `'bhieecnh oh ebciheon'` imprimir un nuevo string formado por la concatenacion de los caracteres que ocupan una posicion par (indice par).

In [45]:
string = 'bhieecnh oh ebciheon'
new_string = ''
for i in range(len(string)):
    if i%2==0:
        new_string += string[i]
print(new_string)

bien hecho

In [46]:
# otra forma de hacerlo pero con las posiciones impares
string = 'bhieecnh oh ebciheon'
new_string = ''
for i in range(1,len(string),2):
    new_string += string[i]
print(new_string)

hecho bien

# VEAMOS UN EJEMPLO AUN MAS INTERESANTE

Supongamos que tenemos una lista con distintos datos de distintas personas, vamos a tener el nombre, apellido y provincia de origen.

Dentro de la lista, vamos a tener varias listas, cada una representa a una persona en particular.

Hagamos un analisis de ello.

In [15]:
lista = [['NOMBRE', 'APELLIDO', 'PROVINCIA'],
 ['Joaquin', 'Gorina', 'Chubut'],
 ['jose', 'Olmedo', 'misiones'],
 ['Julian', 'sosa', 'misiones'],
 ['florencia', 'lopez', 'neuquen'],
 ['sol', 'sanchez', 'salta'],
 ['xiMena', 'asturiAS', 'chubut'],
 ['sol', 'sanchez', 'chubut'],
 ['manuel', 'Olmedo', 'chaco'],
 ['jaVIer', 'montoya', 'tucuman'],
 ['rosa', 'montoya', 'tucuman'],
 ['miguel', 'montoya', 'tucuman'],
 ['jose', 'olmos', 'salta']]

Lo primero que queremos hacer es visualizar un poco mejor esta lista, entonces vamos a imprimir los 3 datos de cada persona uno al lado del otro.

Para ello recorramos cada elemento de la lista

In [ ]:
for i in range(len(lista)):
    for j in range(len(lista[i])):
        print(lista[i][j])

In [20]:
for i in range(len(lista)):
    for j in range(len(lista[i])):
        print(lista[i][j],end=' ')

NOMBRE APELLIDO PROVINCIA Joaquin Gorina Chubut jose Olmedo misiones Julian sosa misiones florencia lopez neuquen sol sanchez salta xiMena asturiAS chubut sol sanchez chubut manuel Olmedo chaco jaVIer montoya tucuman rosa montoya tucuman miguel montoya tucuman jose olmos salta

In [19]:
for i in range(len(lista)):
    for j in range(len(lista[i])):
        print(lista[i][j],end=' ')
    print('')

NOMBRE APELLIDO PROVINCIA
Joaquin Gorina Chubut
jose Olmedo misiones
Julian sosa misiones
florencia lopez neuquen
sol sanchez salta
xiMena asturiAS chubut
sol sanchez chubut
manuel Olmedo chaco
jaVIer montoya tucuman
rosa montoya tucuman
miguel montoya tucuman
jose olmos salta

In [16]:
for i in range(len(lista)):
    for j in range(len(lista[i])):
        print(f'{lista[i][j]:{15}}',end='')
    print('')

NOMBRE         APELLIDO       PROVINCIA
Joaquin        Gorina         Chubut
jose           Olmedo         misiones
Julian         sosa           misiones
florencia      lopez          neuquen
sol            sanchez        salta
xiMena         asturiAS       chubut
sol            sanchez        chubut
manuel         Olmedo         chaco
jaVIer         montoya        tucuman
rosa           montoya        tucuman
miguel         montoya        tucuman
jose           olmos          salta

Que vemos en estos datos?

In [21]:
for i in range(1,len(lista)):
    for j in range(len(lista[i])):
        lista[i][j] = lista[i][j].capitalize()

In [22]:
for i in range(len(lista)):
    for j in range(len(lista[i])):
        print(f'{lista[i][j]:{15}}',end='')
    print('')

NOMBRE         APELLIDO       PROVINCIA
Joaquin        Gorina         Chubut
Jose           Olmedo         Misiones
Julian         Sosa           Misiones
Florencia      Lopez          Neuquen
Sol            Sanchez        Salta
Ximena         Asturias       Chubut
Sol            Sanchez        Chubut
Manuel         Olmedo         Chaco
Javier         Montoya        Tucuman
Rosa           Montoya        Tucuman
Miguel         Montoya        Tucuman
Jose           Olmos          Salta

In [2]:
lista_aux = ["Joaquin Gorina Chubut", 'jose Olmedo misiones', 'Julian sosa misiones', 'florencia lopez neuquen'
            , 'sol sanchez salta', 'xiMena asturiAS chubut', 'sol sanchez chubut' ,'manuel Olmedo chaco'
            , 'jaVIer montoya tucuman', 'rosa montoya tucuman', 'miguel montoya tucuman', 'jose olmos salta']

In [5]:
lista = [x.split() for x in lista_aux]
lista

[['Joaquin', 'Gorina', 'Chubut'],
 ['jose', 'Olmedo', 'misiones'],
 ['Julian', 'sosa', 'misiones'],
 ['florencia', 'lopez', 'neuquen'],
 ['sol', 'sanchez', 'salta'],
 ['xiMena', 'asturiAS', 'chubut'],
 ['sol', 'sanchez', 'chubut'],
 ['manuel', 'Olmedo', 'chaco'],
 ['jaVIer', 'montoya', 'tucuman'],
 ['rosa', 'montoya', 'tucuman'],
 ['miguel', 'montoya', 'tucuman'],
 ['jose', 'olmos', 'salta']]