_____
**Usar <code>for</code>, .split(), e <code>if</code> para imprimir todas las palabras que empiecen con 's':**

In [1]:
st = 'Solo vas a imprimir la palabras que simplemente empiecen con s'
lista=st.split()
for i in range(len(lista)):
    if lista[i][0].lower()=='s': 
        print(lista[i])
        
# correccion para generalizar

Solo
simplemente
s

In [ ]:
Solo
SOLO
solo
SoLO

## Repaso ciclos for

In [2]:
# supongamos que tenemos la siguiente lista de listas 

matriz = [[10,222,3],[4,59,6],[70,809,999]]

Queremos recorrer todos los elementos de la matriz e imprimir aquellos numeros pares

A esto lo podemos **hacer de dos formas**
1. recorriendo los elementos de la lista
2. recorriendo los indices de las listas y acceder a dichos elementos por el indice

#### 1.

In [4]:
for elemento in matriz:
    for sub in elemento:
        print(sub)

10
222
3
4
59
6
70
809
999

#### 2.

In [5]:
for i in range(len(matriz)):
    for j in range(len(matriz[i])):
        print(matriz[i][j])

10
222
3
4
59
6
70
809
999

### Ejercicio

**Supongamos que tenemos una lista con distintos datos de distintas personas, vamos a tener el nombre, apellido, provincia de origen y fecha de nacimiento.**

 1. Visualizar los datos de la lista de manera ordenada.
 2. Estandarizar los nombres, apellidos y provincias para que empiecen con mayuscula.
 3. Calcular la edad de cada persona al dia de hoy y agregar esa edad a nuestro conjunto de datos.
 4. Mostrar los datos de todas aquellas personas mayores a 55 años.
 5. Mostrar los datos de todas aquellas personas que tienen un nombre que empieza con 'J'.

In [12]:
personas = [['NOMBRE', 'APELLIDO', 'PROVINCIA', "NACIMIENTO"],
 ['Joaquin', 'Gorina', 'Chubut', '1967'],
 ['jose', 'Olmedo', 'misiones', '1988'],
 ['Julian', 'sosa', 'misiones', '2005'],
 ['florencia', 'lopez', 'neuquen', '2000'],
 ['sol', 'sanchez', 'salta', '1997'],
 ['xiMena', 'asturiAS', 'chubut', '1999'],
 ['sol', 'sanchez', 'chubut', '1993'],
 ['manuel', 'Olmedo', 'chaco', '1980'],
 ['jaVIer', 'montoya', 'tucuman', '1969'],
 ['rosa', 'montoya', 'tucuman', '1927'],
 ['miguel', 'montoya', 'tucuman', '1934'],
 ['jose', 'olmos', 'salta', '1977']]

In [13]:
# 1. Visualizar los datos de la personas de manera ordenada.
for i in range(len(personas)):
    for j in range(len(personas[i])):
        print(f'{personas[i][j]:{15}}',end='')
    print('')

NOMBRE         APELLIDO       PROVINCIA      NACIMIENTO
Joaquin        Gorina         Chubut         1967
jose           Olmedo         misiones       1988
Julian         sosa           misiones       2005
florencia      lopez          neuquen        2000
sol            sanchez        salta          1997
xiMena         asturiAS       chubut         1999
sol            sanchez        chubut         1993
manuel         Olmedo         chaco          1980
jaVIer         montoya        tucuman        1969
rosa           montoya        tucuman        1927
miguel         montoya        tucuman        1934
jose           olmos          salta          1977

In [14]:
# 2. Estandarizar los nombres, apellidos y provincias para que empiecen con mayuscula.

for i in range(len(personas)):
    for j in range(len(personas[i])):
        personas[i][j] = personas[i][j].capitalize()
        
        
for i in range(len(personas)):
    for j in range(len(personas[i])):
        print(f'{personas[i][j]:{15}}',end='')
    print('')

Nombre         Apellido       Provincia      Nacimiento
Joaquin        Gorina         Chubut         1967
Jose           Olmedo         Misiones       1988
Julian         Sosa           Misiones       2005
Florencia      Lopez          Neuquen        2000
Sol            Sanchez        Salta          1997
Ximena         Asturias       Chubut         1999
Sol            Sanchez        Chubut         1993
Manuel         Olmedo         Chaco          1980
Javier         Montoya        Tucuman        1969
Rosa           Montoya        Tucuman        1927
Miguel         Montoya        Tucuman        1934
Jose           Olmos          Salta          1977

In [15]:
# 3. Calcular la edad de cada persona al dia de hoy y agregar esa edad a nuestro conjunto de datos.

personas[0].append("Edad")
fecha = 2020

for i in range(1,len(personas)):
    edad = fecha - int(personas[i][3])
    personas[i].append(str(edad))
    

for i in range(len(personas)):
    for j in range(len(personas[i])):
        print(f'{personas[i][j]:{15}}',end='')
    print('')

Nombre         Apellido       Provincia      Nacimiento     Edad
Joaquin        Gorina         Chubut         1967           53
Jose           Olmedo         Misiones       1988           32
Julian         Sosa           Misiones       2005           15
Florencia      Lopez          Neuquen        2000           20
Sol            Sanchez        Salta          1997           23
Ximena         Asturias       Chubut         1999           21
Sol            Sanchez        Chubut         1993           27
Manuel         Olmedo         Chaco          1980           40
Javier         Montoya        Tucuman        1969           51
Rosa           Montoya        Tucuman        1927           93
Miguel         Montoya        Tucuman        1934           86
Jose           Olmos          Salta          1977           43

In [17]:
# 4. Mostrar los datos de todas aquellas personas mayores a 55 años.

for i in range(1,len(personas)):
    if int(personas[i][4])>55:
        print(personas[i])

['Rosa', 'Montoya', 'Tucuman', '1927', '93']
['Miguel', 'Montoya', 'Tucuman', '1934', '86']

In [18]:
for item in personas[0]:
    print(f'{item:{15}}',end='')
print("")
for i in range(1,len(personas)):
    if int(personas[i][-1]) > 55:
        for item in personas[i]:
            print(f'{item:{15}}',end='')
        print("")

Nombre         Apellido       Provincia      Nacimiento     Edad
Rosa           Montoya        Tucuman        1927           93
Miguel         Montoya        Tucuman        1934           86

In [19]:
# 5. Mostrar los datos de todas aquellas personas que tienen un nombre que empieza con 'J'.

for i in range(1,len(personas)):
    if personas[i][0][0]=='J':
        print(personas[i])

['Joaquin', 'Gorina', 'Chubut', '1967', '53']
['Jose', 'Olmedo', 'Misiones', '1988', '32']
['Julian', 'Sosa', 'Misiones', '2005', '15']
['Javier', 'Montoya', 'Tucuman', '1969', '51']
['Jose', 'Olmos', 'Salta', '1977', '43']

In [20]:
for item in personas[0]:
    print(f'{item:{15}}',end='')
print("")
for i in range(1,len(personas)):
    if personas[i][0][0] == "J":
        for item in personas[i]:
            print(f'{item:{15}}',end='')
        print("")

Nombre         Apellido       Provincia      Nacimiento     Edad
Joaquin        Gorina         Chubut         1967           53
Jose           Olmedo         Misiones       1988           32
Julian         Sosa           Misiones       2005           15
Javier         Montoya        Tucuman        1969           51
Jose           Olmos          Salta          1977           43